<h1>Admin Categories</h1>
<div class="well">
    <form action="/somepath" method="post">
        <input type="text" name="name">
        <input type="submit" value="Create Category">
    </form>
    <p><% p @categories %></p>
</div>